<div class="row">
  <div class="col-md-12">
    <h2>{{viewData.employee.firstName}} {{viewData.employee.lastName}} - Employee: {{viewData.employee.employeeNum}}</h2>
    <hr />
    <form method="post" action="/employee/update">
      <fieldset>
        <legend>Personal Information</legend>
        <input type="hidden" name="employeeNum" value="{{viewData.employee.employeeNum}}">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input class="form-control" id="firstName" name="firstName" type="text" value="{{viewData.employee.firstName}}" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input class="form-control" id="lastName" name="lastName" type="text" value="{{viewData.employee.lastName}}" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email:</label>
              <input class="form-control" id="email" name="email" type="email" value="{{viewData.employee.email}}" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ssn">Social Security Num:</label>
              <input class="form-control" id="ssn" name="SSN" type="text" value="{{viewData.employee.SSN}}"  readonly />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressStreet">Address (Street):</label>
              <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{viewData.employee.addressStreet}}" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressCity">Address (City):</label>
              <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{viewData.employee.addressCity}}" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressState">Address (State):</label>
              <input class="form-control" id="addressState" name="addressState" type="text" value="{{viewData.employee.addressState}}" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressPostal">Address (Zip Code):</label>
              <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{viewData.employee.addressPostal}}" />
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Company Information</legend>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="isManager">Manager:</label>
              <input class="form-control" id="isManager" name="isManager" type="checkbox" {{#if viewData.employee.isManager}} checked {{/if}}/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="employeeManagerNum">Employee's Manager Number:</label>
              <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{viewData.employee.employeeManagerNum}}" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="status">Status:</label>
              <br>
              <label class="checkbox-inline">
                <input id="statusFT" name="status" type="radio" value="Full Time" 
                {{#equal viewData.employee.status "Full Time"}} checked {{/equal}}/> Full Time
              </label>
              <label class="checkbox-inline">
                <input id="statusPT" name="status" type="radio" value="Part Time" 
                {{#equal viewData.employee.status "Part Time"}} checked {{/equal}}/> Part Time
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="department">Department</label>
              {{#if viewData.departments}}
                <select class="form-control" name="department" id="department">
                {{#each viewData.departments}}
                  <option value="{{departmentId}}" {{#if selected}} selected {{/if}} >{{departmentName}} </option>
                {{/each}}
                </select>
              {{else}}
                <div>No Departments</div>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="hireDate">Hire Date</label>
              <input class="form-control" id="hireDate" name="hireDate" type="text" value="{{viewData.employee.hireDate}}" readonly />
            </div>
          </div>
        </div>
      </fieldset>
      <hr />
      <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
    </form>
  </div>
</div>